.header__comp {
  &__title {
    margin-bottom: 20px;
    color: #374557;
    font-family: "poppins";
    font-size: 26px;
    font-weight: 700;
  }
}

.header__cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.header__card {
  width: 435px;
  background: #166199;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 23px;
  border-radius: 12px;

  &__bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  &__image {
    margin: 32px 0;
    width: 107px;
    height: 114px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.info__title {
  display: flex;
  justify-content: end;

  h2 {
    padding: 4px 10px;
    background: #fff;
    color: #374557;
    font-family: "poppins";
    font-weight: 500;
    font-size: 18px;
    border-radius: 12px;
  }
}

.info__text {
  margin: 10px auto 34px;
  color: #fff;
  font-family: "poppins";
  font-size: 12px;
  font-weight: 500;

  &__span {
    color: #fff;
    font-family: "poppins";
    font-size: 16px;
    font-weight: 600;
  }
}

.info__btn {
  display: flex;
  justify-content: end;

  button {
    padding: 10px 14px;
    color: #166199;
    background: #fff;
    text-align: center;
    font-family: "poppins";
    font-size: 18px;
    font-weight: 600;
    border-radius: 16px;
    cursor: pointer;
  }
}
