.page-one__left {
  &__video {
    display: flex;
    flex-direction: column;
    iframe {
      @media (min-width: 1410px) {
        width: 800px;
      }
      @media (min-width: 1560px) {
        width: 900px;
      }
      border-radius: 14px;
      @media (max-width: 500px) {
        width: 100%;
        height: 250px;
      }
    }
  }
  
  &__title {
    color: #374557;
    font-family: 'poppins';
    font-size: 22px;
    font-weight: 700;
    margin: 12px 0 30px;
    @media (max-width: 500px) {
      font-size: 15px;
    }
    @media (max-width: 300px) {
      font-size: 12px;
    }
  }
}
