

.root__left {
  max-width: 255px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 23px 0px;
  background: #fff;
  z-index: 999;

  &__logo {
    margin: 0 20px;
  }
}

.root__menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 212px;
  margin: 34px auto;
}

.root__item {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #a098ae;
  font-size: 14px;
  padding: 13px 18px;
  cursor: pointer;
  border-radius: 16px;
  transition: 0.5s;

  &:hover {
    background: #166199;
    color: #fff;
    box-shadow: 0px 20px 50px 0px rgba(55, 69, 87, 0.1);
  }
}

.routes {
  margin-left: 295px;
  margin-top: 94px;
}
