html,
body {
  background: #fafafa;
  font-family: "poppins", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.resp__contain {
  @media (max-width: 500px) { 
    padding: 0 10px;
  }
  @media (max-width: 300px) { 
    padding: 0 5px;
  }
}

.Loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  margin-right: 50px;
}
