.modal-out {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #0009;
  z-index: 9999;
}

.modal__btn {
  display: flex;
  flex-direction: column;
  @include adaptive-value(gap, 20, 10, 1);
}

.user-modal {
  position: absolute;
  top: 9%;
  background: #fff;
  width: 300px;
  height: 200px;
  border-radius: 12px;
  right: 1%;
  @media (max-width: 500px) {
    width: 90%;
    right: 5%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    width: 40px;
    height: 40px;
    background: #8e8d8d;
    border-radius: 8px;
    margin: 20px auto 10px auto;
  }

  &__desc {
    font-size: 20px;
    text-align: center;
    margin: 10px auto 20px auto;
    color: #8c8c8c;
    @media (max-width: 265px) {
      font-size: 17px;
    }
  }

  &__btn {
    background: #166199;
    padding: 5px 15px;
    width: 120px;
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;
  }
}
.Link {
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-family: "poppins";
}

.modallang {
  display: none;
  @media (max-width: 500px) {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    background: transparent;
  }
}

.modalicons {
  display: none;
  @media (max-width: 500px) {
    display: block;
  }
}

.modalicons__list {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  gap: 10px;
}

.logout-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: "poppins";
}
