.change-btn {
  margin-top: 20px;
  font-size: 18px;
  background: #166199;
  color: #fff;
  padding: 8px 22px;
  border-radius: 10px;
  margin-left: 46.7%;
}

:where(.css-dev-only-do-not-override-mtd4dw).ant-menu-dark {
  background: none;
  background-color: #166199;
}

ul.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark.css-mtd4dw {
  background: none;
  background-color: #166199;
}

:where(.css-dev-only-do-not-override-mtd4dw).ant-layout
  .ant-layout-sider-trigger {
  background: none;
  background-color: #166199;
}

ul.ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-dark.ant-menu-inline-collapsed.css-mtd4dw {
  background: none;
  background-color: #166199;
}

.ant-layout .ant-layout-sider-trigger {
  background: none;
  background-color: #166199;
}

:where(.css-mtd4dw).ant-menu-dark {
  background: none;
  background-color: #166199;
}

:where(.css-dev-only-do-not-override-mtd4dw).ant-menu-dark.ant-menu-inline
  .ant-menu-sub.ant-menu-inline {
  background: none;
  background-color: #166199;
}

.ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  background: none;
  background-color: #166199;
}

.adminlogo_parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0 40px 0;
}

.adminlogo {
  font-weight: 700;
  color: #fff;
  font-size: 25px;
}

.adminlogo2 {
  font-size: 15px;
  color: #00ffa3;
}

.Logout {
  color: #fff;
  background-color: #166199;
  border: none;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 30px;
}
